@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
  flex: 1;
}

.h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.heading-pg {
  text-align: center;
}

.description-pg {
  max-width: 74ch;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

p {
  color: #1f1f1f;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.order-page {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  .order-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* background-color: red; */
  }
  
  .heading-pg {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  
  .description-pg {
    text-align: center;
    font-size: 16px;
    color: #808080;
    margin-bottom: 40px;
  }
  
  .order-form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Более мягкие углы */
    font-size: 16px;
    font-family: Arial, sans-serif; /* Стандартный шрифт */
    background-color: #f9f9f9; /* Нежный фон для удобства чтения */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Плавная анимация при взаимодействии */
  }
  
  .input-field:focus {
    background-color: #ffffff; /* Ярче при фокусе */
    border: 2px solid #4a90e2; /* Акцентная рамка */
    box-shadow: 0 4px 8px rgba(74, 144, 226, 0.3); /* Интенсивное свечение */
    outline: none; /* Убираем стандартный outline */
  }
  
  
  .input-field:hover {
    background-color: #fafcff; /* Подсветка при наведении */
    border-color: #cdd9eb; /* Легкая подсветка рамки */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Добавляем немного тени */
  }
  .input-field::placeholder {
  color: #aaa; /* Стиль текста placeholder */
  font-size: 14px;
  opacity: 0.8; /* Чуть менее яркий текст */
}


  
  .submit-button {
    width: 100%;
    padding: 15px;
    background-color: #738ea3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #6386a1;
  }
  
  input[type="file"] {
    border: none;
    padding: 5px;
  }
  
  label {
    font-weight: bold;
    color: #333;
  }

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}

.hover-image {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  object-position: 50% 26%;
  border-radius: 5px;
  display: block;
}

/* header */

.header-background-intro {
    width: 100%;
    min-height: 90vh;
    padding: 10px 8%;
    position: relative;
    overflow: hidden;
}

.header-background-intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.9);
}

.header-background-intro-text {
    position: absolute;
    top: 50%;
    left: 20%;
    max-width: 30%;
    color: #1f1f1f;
    transform: translate(0, -50%);
}

.header-background-intro-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.header-background-intro-text p {
    font-size: 24px;
    margin-bottom: 15px;
    color: #1f1f1f
}

.header-background-intro-text span {
  display: inline-block;
  width: 180px;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 500;
  background-color: #738ea3;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 4px;
}

.header-background-intro-text span:hover {
  padding: 10px;
  background-color: #698092;
}

.navbar-header-contact-container {
  display: flex;
  background-color: #fff;
  padding: 1px 40px;
  justify-content: flex-end;
  align-items: center;
}

.navbar-header-contact-info {
  display: flex;
  margin-left: 15%;
  flex-direction: row;
}

.navbar-header-contact-entry {
  display: flex;
  align-items: center;
  color: #f0f0f0;
}

.navbar-header-contact-entry a{
  display: flex;
  align-items: center;
  color: #f0f0f0;
  text-decoration: none;
}

.icon-i{
  font-size: 24px;
  margin-right: 5px;
  color: #738ea3;
}

.navbar-header-contact-info p {
  margin: 0;
  padding-right: 5px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.v p:hover {
  color: #999999;
}

.multilang-container {
  display: flex;
  margin-left: 10px;
  user-select: none;
}

.multilang-btn {
  color: #1f1f1f;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.multilang-btn:hover {
  color: #999999;
}

.multilang-btn.active {
  border-color: #738ea3;
  color: #1f1f1f;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    
}

.header-logo {
  width: 120px;
  margin-top: 8px;
}

.header-logo img {
    width: 150%;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 13px;
    text-transform: uppercase;
    align-items: center;
}

nav ul li a {
    color: #1f1f1f;
    display: block;
    margin: 0 2px;
    padding: 8px 18px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a.active {
  padding: 10px;
  border-radius: 4px;
  background-color: #738ea3;
  color: #f0f0f0;
}

nav ul li a.active:hover {
  color: #f0f0f0;
  background-color: #698092;
}

nav ul li a:hover {
    color: #738ea3;
}

nav .header-logo {
  display: none;
}

.header-social-icons {
  display: none;
}

.menu {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2;  
    z-index: 1111;
    background-color: #f1f1f1;
}

.menu:hover {
    background: transparent;
}

.menu div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #1f1f1f;
}

footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 70%;
    margin: 0 auto;
    color: #f1f1f1;
  }
  
  .footer-section {
    padding: 20px;
    font-weight: 400;
  }
  
  .footer-section h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
  }
  
  .footer-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-container ul li {
    margin-bottom: 12px;
  }
  
  .footer-container ul li a {
    text-decoration: none;
    color: #1f1f1f;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .footer-container ul li a:hover {
    color: #738ea3;
  }
  
  .copyright-container {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: 20px auto;
  }
  
  .copyright-container p{
    color: #1f1f1f;
  }
  
  .copyright-container img {
    margin-right: 10px;
  }
  
  .copyright-info {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #1f1f1f;
  }
  
  .copyright-info p {
    margin: 0;
    font-size: 14px;
    color: #1f1f1f;
  }
  .footer-section{
    color: #1f1f1f;
  }
  
/* Login form*/
  button {
    border-radius: 20px;
    border: 1px solid #f1f1f1;
    background-color: #597285;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .container {
    background-color: #fff;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
  }
  
  .overlay {
    background: #738ea3;
    background: -webkit-linear-gradient(to right, #4c92c7, #265579);
    background: linear-gradient(to right, #597285, #446680);
      /* background: #738ea3; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
      transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .container.right-panel-active .overlay {
      transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  .social-container {
    margin: 20px 0;
  }
  
  .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  .create-form{
      padding-bottom: 7px;
  }
  
  @keyframes fadeInScale {
      0% {
          opacity: 0;
          transform: scale(0.8);
      }
      60% {
          opacity: 1;
          transform: scale(1.05);
      }
      100% {
          opacity: 1;
          transform: scale(1);
      }
  }
  
    .container {
      animation: fadeInScale 1s ease-out;
    }
    .input-wrapper {
      position: relative;
      margin-bottom: 3px;
    }
    
    .input-wrapper input {
      width: 100%;
      padding: 12px;
      border: 2px solid #cbd5e0;
      border-radius: 6px;
      outline: none;
      font-size: 16px;
      transition: all 0.3s ease;
      box-sizing: border-box;
    }
    
    .input-wrapper label {
      position: absolute;
      left: 12px;
      top: 21px;
      color: #a0aec0;
      font-size: 16px;
      pointer-events: none;
      transition: all 0.3s ease;
    }
    
    .input-wrapper input:focus {
      border-color: #4a90e2;
    }
    
    .input-wrapper input:focus + label,
  .input-wrapper input:not(:placeholder-shown) + label {
      top: -8px; /* Поднимаем label */
      left: 10px;
      font-size: 12px; /* Уменьшаем размер */
      color: #4a90e2; /* Изменяем цвет */
      background: #f1f1f1; /* Добавляем фон под label */
      padding: 0 5px;
  }
  
  /* Добавляем стиль для ошибки */
  .error-msg {
      color: red;
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
  }
  
  /* Стиль для анимации "shake" */
  .shake {
      animation: shake 0.3s ease-in-out;
  }
  
  @keyframes shake {
      0% {
          transform: translateX(0);
      }
      25% {
          transform: translateX(-5px);
      }
      50% {
          transform: translateX(5px);
      }
      75% {
          transform: translateX(-5px);
      }
      100% {
          transform: translateX(0);
      }
  }
  
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    position: relative;
    margin: 5% auto;
    background: transparent;
    border-radius: 10px;
    max-width: 800px;
    animation: fadeIn 0.5s ease-out;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Большие настольные компьютеры и ноутбуки */
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-background-intro-text {
    left: 15%;
    max-width: 50%;
  }
  .map-container {
    max-width: 80%;
  }
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo-wrapper{
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
  }
}

/* Портретные планшеты и средние настольные компьютеры */
@media (min-width: 992px) and (max-width: 1199px) {
  .header-background-intro-text {
    left: 15%;
    max-width: 40%;
  }
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .map-container {
    max-width: 80%;
  }
  .w-layout-grid{
    max-width: 100%;  
    grid-template-columns: repeat(2, 1fr);
  }
  .logo-wrapper{
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
  }
  .product-tab-content-grid-1 {
    display: flex; /* Включаем flex-контейнер */
  flex-direction: column; 
  align-items: center; 
  margin-top: 30px;
  }
  .product-tab-content-image-holder {
    max-width: 80%;
  }
  .product-tab-heading-holder{
    align-items: center; 
    height: 100%;
  }
  .product-tab-heading-holder h3,p {
    margin: 0; 
    /* text-align: center; */
  }
  .footer-container{
    grid-template-columns: repeat(4, 1fr);
  }
  
}

/* Портретные планшеты и небольшие настольные компьютеры */
@media (min-width: 768px) and (max-width: 991px) {
  .header-background-intro-text {
    left: 13%;
    max-width: 65%;
  }
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .map-container {
    max-width: 90%;
  }
  .data {
    width: 50%;
  }
  .data-container {
    max-width: 100%;
  }
  .logo-wrapper {
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
  }
  .data {
    width: 70%;
  }
  .menu {
    display: block;
  }
  #nav_check:checked ~ nav {
    left: 0;
    background-color: #e2e2e2;
  }
  nav {
    position: absolute;
    left: -350px;
    top: 0;
    z-index: 1;
    width: 280px;
    background-color: #f0f0f0;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    border-radius: 15px;
  }
  nav .header-logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  nav ul li a {
    padding: 15px 18px;
  }
  .product-tab-content-grid-1 {
    display: flex; /* Включаем flex-контейнер */
  flex-direction: column; 
  align-items: center; 
  margin-top: 30px;
  }
  .product-tab-content-image-holder {
    max-width: 80%;
  }
  .product-tab-heading-holder{
    align-items: center; 
    height: 100%;
  }
  .product-tab-heading-holder h3,p {
    margin: 0; 
    /* text-align: center; */
  }
  .footer-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Телефоны с альбомной ориентацией и планшеты с портретной ориентацией */
@media (max-width: 767px) {
  .header-background-intro-text {
    left: 13%;
    max-width: 65%;
  }
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .map-container {
    max-width: 80%;
  }
  .logo-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .data {
    width: 70%;
  }
  .menu {
    display: block;
  }
  #nav_check:checked ~ nav {
    left: 0;
    background-color: #f0f0f0;
  }
  nav {
    position: absolute;
    left: -350px;
    top: 0;
    z-index: 1;
    width: 280px;
    background-color: #f0f0f0;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    border-radius: 15px;
  }
  nav .header-logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  nav ul li a {
    padding: 15px 18px;
  }
  .phone-multilang-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
  }
  .product-tab-content-grid-1 {
    display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-top: 30px;
  }
  .product-tab-content-image-holder {
    max-width: 80%;
  }
  .product-tab-heading-holder{
    align-items: center; 
    height: 100%;
  }
  .product-tab-heading-holder h3,p {
    margin: 0; 
    /* text-align: center; */
  }
  .footer-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Горизонтальные телефоны и меньше */
@media (max-width: 480px) {
  .phone-multilang-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
  }
  .header-background-intro-text {
    left: 13%;
    max-width: 65%;
  }
  .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .map-container {
    display: none;
  }
  .logo-wrapper {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
  .data {
    width: 90%;
  }
  .menu {
    display: block;
  }
  #nav_check:checked ~ nav {
    left: 0;
    background-color: #f0f0f0;
  }
  nav {
    position: absolute;
    left: -350px;
    top: 0;
    z-index: 1;
    width: 280px;
    background-color: #f0f0f0;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    border-radius: 15px;
  }
  nav .header-logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  nav ul li a {
    padding: 15px 18px;
  }
  .navbar-header-contact-info {
    margin: 0 auto;
  }
  .navbar-header-contact-container {
    display: none;
  }
  footer img {
    width: 10%;
  }
  .phone-cne-block-info {
    display: none;
  }
  .phone-cne-block-info-button span {
    display: inline-block;
    width: 180px;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 500;
    background-color: #d5af65;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 4px;
  }
  .phone-cne-block-info-button span:hover {
    padding: 10px;
    background-color: #cfa451;
  }
  .open-map-button {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .header-background-intro-text h1{
    font-size: 25px;
  }
  .header-background-intro-text p{
    font-size: 19px;
  }
  .multilang-container {
    display: none
  }
  .product-tab-content-image-holder{
    display: none;
  }
  .header {
    padding: 0 10%;
  }
  .footer-container{
    grid-template-columns: repeat(1, 1fr);
  }
}






