<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index/login-form.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="signUpForm" method="post" action="/register">
                <h1>Создайте аккаунт</h1>
                <span class="create-form">или воспользуйтесь своей учетной записью</span>
                <div class="input-wrapper">
                    <input type="text" id="name" placeholder=" " required />
                    <label for="name">Имя</label>
                </div>
                <div class="input-wrapper">
                    <input type="email" id="email" placeholder=" " required />
                    <label for="email">Почта</label>
                  </div>
                <div class="input-wrapper">
                    <input type="password" id="signUpPassword" placeholder=" " required />
                    <label for="signUpPassword">Пароль</label>
                </div>
                <button type="submit">Подтвердить</button>
                <div id="signUpErrorMsg" class="error-msg"></div>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="signInForm" method="post" action="/login">
                <h1 class="create-form">Авторизация</h1>
                <span class="create-form">или создайте учетную запись</span>
                <div class="input-wrapper">
                    <input type="text" id="signInName" name="username" required />
                    <label for="signInName">Имя</label>
                </div>
                <div class="input-wrapper">
                    <input type="password" id="signInPassword" name="password" required />
                    <label for="signInPassword">Пароль</label>
                </div>
                <a href="#" id="forgot">Забыли свой пароль?</a>
                <button type="submit">Подтвердить</button>
                <div id="signInErrorMsg" class="error-msg"></div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="create-form">С возвращением!</h1>
                    <p>Чтобы поддерживать с нами связь, пожалуйста, войдите в систему, указав свои личные данные</p>
                    <button class="ghost" id="signIn">Войти в аккаунт</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Привет, Друг!</h1>
                    <p>Введите свои личные данные и отправляйтесь в путешествие вместе с нами</p>
                    <button class="ghost" id="signUp">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
    

<script src="static/js/logim-form-swap.js"></script>
<script src="static/js/check-pass.js"></script>
</body>
</html>