<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Оформление заказа</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/index/order-page.css">
</head>
<body>
    <div class="navbar-header-contact-container">
        <div class="navbar-header-contact-info">
            <div class="navbar-header-contact-entry">
                <a href="#">
                    <i class='bx bxs-phone icon-i'></i>
                    <p key="phone">+7 (000) 020-0063</p>
                </a>
            </div>
            <div class="multilang-container">
              <button id="ru" class="multilang-btn active" key="ru">Рус</button>
              <button id="kz" class="multilang-btn" key="en">Агл</button>
            </div>
            
        </div>
    </div>
    
    <header class="header">
        <div class="header-logo">
            <!-- <img src=""> -->
        </div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <!-- <div class="header-logo">
                <img src="#" alt="Logo">
            </div> -->
            <ul>
                <li>
                    <a href="" key="itoutsourcing">IT-Аутсорсинг</a>
                </li>
                <li>
                    <a href="" key="home">Главная</a>
                </li>
                <li>
                    <a href="" key="aboutcompany">О компании</a>
                </li>
                <li>
                    <a href="#service-grid" key="services-header">Услуги</a>
                </li>
                <button id="openModalBtn" class="active" key="log-in-account">Войти<br> в аккаунт</button>
            </ul>
        </nav>
        <label for="nav_check" class="menu">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>    
  <div class="order-page">
    <div class="basic-section">
      <div class="order-container w-container">
        <h2 class="heading-pg" key ="place-order">Оформить заказ</h2>
        <p class="description-pg" key="order-form">Пожалуйста, заполните форму ниже для оформления вашего заказа.</p>
        <form class="order-form" action="submit-order.php" method="post" enctype="multipart/form-data">
          
          <label for="tel" key="entering-number">Введите ваш номер телефона:</label>
          <input type="tel" id="phone" name="phone" class="input-field" placeholder="+7 (___) ___-__-__" pattern="\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}" required>

          <label for="category" key="category">Категория услуги:</label>
          <select id="category" name="category" class="input-field">
            <option value="web-development" id="" key="web-development">Разработка сайтов</option>
            <option value="mobile-apps" id="" key="mobile-apps">Мобильные приложения</option>
            <option value="telegram-bots" id="" key="telegram-bots">Разработка Telegram-ботов</option>
            <option value="discord-bots" id="" key="discord-bots">Разработка Discord-ботов</option>
            <option value="technical-maintenance" id="" key="technical-maintenance">Техническое обслуживание</option>
            <option value="hosting-vds" id="" key="hosting-vds">Bussines-VDS Хостинг</option>
            <option value="domain-registration" id="" key="domain-registration">Регистрация доменных имен</option>
            <option value="security-cameras" id="" key="security-cameras">Камеры видеонаблюдения</option>
          </select>

          <label for="comments" key="comments">Комментарий:</label>
          <textarea id="comments" name="comments" class="input-field" rows="4" placeholder="Введите детали заказа..." key="namePlaceholder"></textarea>

          <label for="file" id="attach-file" key="attach-file">Прикрепить файл:</label>
          <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
            <div class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                -<svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-blue-400 group-hover:text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                </svg>
                <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                </div>
                <p class="pointer-none text-gray-500 " key="drag-drop"><span class="text-sm">Перетащите</span> файлы сюда <br /> или <a href="" id="" class="text-blue-600 hover:underline">выберите файл</a>  на вашем компьютере</p>
            </div>
            <input type="file" class="hidden">
        </label>
    
            </div>
          <button type="submit" class="submit-button" key="send-order">Отправить заказ</button>
        </form>
      </div>
    </div>
  <footer>
    <div class="footer-container">
      <div class="footer-section">
        <h1 key="general">Общее💙</h1>
        <ul>
          <li><a href="#" key="feedbacklink">Обратная связь</a></li>
          <li><a href="#" key="complaintlink">Отправить жалобу</a></li>
          <li><a href="#" key="aboutuslink">О компании</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h1 key="socialmedia">Социальные сети🌐</h1>
        <ul>
          <li><a href="#" key="vkgroup">Группа ВКонтакте</a></li>
          <li><a href="#" key="telegramgroup">Группа Telegram</a></li>
          <li><a href="#" key="tiktokaccount">Аккаунт Tiktok</a></li>
          <li><a href="#" key="instagramaccount">Аккаунт Instagram</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h1 key="services">Услуги📑</h1>
        <ul>
          <li><a href="#" key="webdevelopment">Веб-разработка</a></li>
          <li><a href="#" key="bots">Боты</a></li>
          <li><a href="#" key="maintenance">Техническое обслуживание</a></li>
          <li><a href="#" key="surveillancecameras">Камеры видеонаблюдения</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h1 key="other">Другое💠</h1>
        <ul>
          <li><a href="#" key="reviews">Отзывы</a></li>
          <li><a href="#" key="resale">Resale-Partners</a></li>
          <li><a href="#" key="terms">Пользовательское соглашение</a></li>
          <li><a href="#" key="knowledgebase">База знаний</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h1 key="outsourcingcompany">Аутсорсинговая компания🦅</h1>
        <ul>
          <li><a href="#" key="outsourcing">SAPSAN FIRMA - OUTSOURCING</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright-container">
      <p key="copyright">💠Все права защищены</p>
    </div>
    <div class="copyright-info">
      <p key="24hcontact">ideas@malstavo.com - Круглосуточно</p>
      <p key="afterhourscontact">ideas@malstavo.com - Ненормативный</p>
    </div>
    </footer>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span id="closeModal" class="close-btn">&times;</span>
        <div class="container" id="container">
          <div class="form-container sign-up-container">
            <form id="signUpForm" novalidate>
              <h1 key="create-account">Создайте аккаунт</h1>
              <span class="create-form" key="">or use your account</span>
              <div class="input-wrapper">
                <input type="text" id="name" placeholder=" " required />
                <label for="name" key="login-name">Имя</label>
              </div>
              <div class="input-wrapper">
                <input type="email" id="email" placeholder=" " required />
                <label for="email" key="login-email">Почта</label>
              </div>
              <div class="input-wrapper">
                <input type="password" id="signUpPassword" placeholder=" "  required />
                <label for="signUpPassword" key="login-password">Пароль</label>
              </div>
              <button type="submit" key="login-confirm">Подтвердить</button>
              <div id="signUpErrorMsg" class="error-msg"></div>
            </form>
          </div>
          <div class="form-container sign-in-container">
            <form id="signInForm" novalidate>
              <h1 class="create-form" key="authorization">Авторизация</h1>
              <span class="create-form" key="create-new-account">или создайте учетную запись</span>
              <div class="input-wrapper">
                <input type="text" id="signInName" placeholder=" " required />
                <label for="signInName" key="login-name">Имя</label>
              </div>
              <div class="input-wrapper">
                <input type="password" id="signInPassword" placeholder=" " required />
                <label for="signInPassword" key="login-password">Пароль</label>
              </div>
              <a href="#" id="forgot" key="forgot-password">Забыли свой пароль?</a>
              <button type="submit" key="login-confirm">Подтвердить</button>
              <div id="signInErrorMsg" class="error-msg"></div>
            </form>
          </div>
          <div class="overlay-container">
            <div class="overlay">
              <div class="overlay-panel overlay-left">
                <h1 class="create-form" key="welcome-again">С возвращением!</h1>
                <p key="keep-touch">Чтобы поддерживать с нами связь, пожалуйста, войдите в систему, указав свои личные данные</p>
                <button class="ghost" id="signIn" key="login-confirm">Подтвердить</button>
              </div>
              <div class="overlay-panel overlay-right">
                <h1 key="hi-friend">Привет, Друг!</h1>
                <p key="input-your-value">Введите свои личные данные и отправляйтесь в путешествие вместе с нами</p>
                <button class="ghost" id="signUp" key="login-confirm">Подтвердить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <script src="static/js/opem-modal-window.js"></script>
    <script src="static/js/multiplug.js"></script>
    <script src="static/js/logim-form-swap.js"></script>
    <script src="static/js/check-pass.js"></script>
    <script src="static/js/check-category.js"></script>
</body>
</html>
