<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=https://wa.me/+77086271443">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>САПСАН ФИРМА - Перенаправление</title>
    <meta name="description" content="📨Контактные данные - Охрименко Сергея Владимировича. 📞Телефон: +7 (708) 627-1443. Перенаправление на сайт/мобильное приложение - WhatsApp">
    <link rel="apple-touch-icon" sizes="180x180" href="../image/main/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../image/main/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../image/main/favicon/favicon-16x16.png">
    <link rel="manifest" href="../image/main/favicon/site.webmanifest">
    <link rel="mask-icon" href="../image/main/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/index/redirect.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="loaderContainer">
            <i class='bx bx-loader-alt bx-spin'></i>
        </div>
        <h1 key="redirected">Перенаправление</h1>
        <p class="redirectText no-margin" key="redirected-new-adrees">Вы будете перенаправлены на новый адрес через 5 секунд.</p>
        <p class="redirectText no-margin" key="error-redirect">Если это не произошло, пожалуйста, нажмите на кнопку:</p>
        <a href="https://wa.me/+77086271443" class="redirectButton" key="go-over">Перейти</a>
    </div>
    <script src="/js/index/multiplug.js"></script>
</body>
</html>
